@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

a {
  @apply text-sky-500;
}

ul {
  @apply pl-8;
  @apply list-disc;
}

li {
  @apply mt-2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/src/assets/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main {
  padding: 3rem;
  height: 100vh;
}

@media (max-width: 640px) {
  #main {
    width: 100%;
    height: 115vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p code,
li code {
  background-color: transparent;
  color: #2fc0ff;
}

p strong,
li strong {
  color: #fd64b1cd;
}

.cm-tooltip-autocomplete {
  display: none !important;
}

.cm-editor {
  height: 25rem !important;
  font-size: 1rem !important;
  background-color: #1f2938 !important;
}

.cm-lineNumbers,
.cm-foldGutter {
  background-color: #212d3d !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /* background-color: #e7e7e7; */
  background-color: #3333338e;
  border: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background-color: #e7e7e7c5;
  /* background-color: #333; */
}
